.row
  .align-center
    %b Edit your group
  %hr
  .span10.offset1
    %div{style: "width: 555px; margin:auto;"}
      = render 'form'
  .clearfix
  %hr

  = link_to 'Show', @group
  \|
  = link_to 'Back', groups_path
