.row
  %hr
  .align-center
    %b Edit user
  .spacer1
  .span10.offset1
    %div{style: "width: 445px; margin:auto;"}
      = render 'form'
  .clearfix
  %hr

= render "groups_mgt"
    
  
= link_to 'Show', @user
\|
= link_to 'Back', users_path
  

