.row{ style: "margin-top: -40px;"}
  .span12
    .alert.alert-info.alert-block
      %h4 User Logout
      %br
      This page is just to confirm users that they were successfully logged out
      of your service