.row{ style: "margin-top: -40px;"}
  .span12
    .alert.alert-info.alert-block
      %h4 User Access Unauthorized
      %br
      This simply means that the user you are trying to login with has not been
      given access to your application via Maestrano