.row
  .align-center
    %b Edit your app name
  %hr
  .span10.offset1
    %div{style: "width: 305px; margin:auto;"}
      = render 'form'
  .clearfix
  %hr

  = link_to 'Show', @app
  \|
  = link_to 'Back', apps_path
