.row
  %hr
  .span10.offset1
    %div{style: "width: 305px; margin:auto;"}
      = render 'form'
  .clearfix
  %hr

.row
  .span10.offset1
    
    %h5 Below is a list of all applications already created
    .spacer1

    %table.table.table-striped.table-bordered
      %tr
        %th App Name
        %th API Token
        %th

      - @apps.each do |app|
        %tr
          %td= app.name
          %td= app.api_token
          %td= link_to 'Edit', edit_app_path(app)

    %br
