.row
  .span12
    
    .align-center
      %b Below are the last 100 lines of logs 
      %br
      (top lines are the most recent ones)
    .spacer1
    
    
    %table.table.table-striped
      - if @logs.empty?
        %tr
          %td No logs to display
      - else
        - @logs.each do |line|
          %tr
            %td!= parse_log_line(line)